## Dependencies and starter code

In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata = "data/Mouse_metadata.csv"
study_results = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

# Combine the data into a single dataset
mouse_study_data = pd.merge(mouse_metadata, study_results, on="Mouse ID")

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
449,w678,Ramicane,Female,5,24,5,43.166373,0
450,y449,Ramicane,Male,19,24,0,45.000000,0
451,y449,Ramicane,Male,19,24,5,45.877545,0
452,y449,Ramicane,Male,19,24,10,46.378092,0
453,y449,Ramicane,Male,19,24,15,44.183451,0

## Summary statistics

In [40]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Initialize data vars
mean      = []
median    = []
variance  = []
stddev    = []
sem       = []

# Get a list of unique drugs
drug_regimes = mouse_study_data['Drug Regimen'].unique()

# loop through drugs and for each one grab their data and calc stats
i = 0
for drug in drug_regimes:
    # get drug data
    drug_data_dfi = mouse_study_data.loc[mouse_study_data["Drug Regimen"] == drug]
    
    # calc and store stats
    mean.append(drug_data_dfi["Tumor Volume (mm3)"].mean())
    median.append(drug_data_dfi["Tumor Volume (mm3)"].median())
    # mean.append(drug_data_dfi["Tumor Volume (mm3)"].variance())
    
    # increment index
    i = i+1

median

[40.67323554,
 41.557808879999996,
 51.82058438,
 52.28893409,
 51.77615728000001,
 52.43173664,
 51.818479325,
 53.698742644999996,
 50.8546323,
 52.509284609999995]

In [7]:
study_results

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]