## Import Dependencies

In [10]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [62]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count
* Total number of players

In [26]:
unique_players = np.unique(purchase_data["SN"])
unique_
print(f'There are {len(unique_players)} players.')

there are 576 players that made 780 purchases

## Purchasing Analysis
* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [38]:
unique_items = np.unique(purchase_data["Item Name"])
items_num = len(unique_items)
price_avg = np.average(purchase_data["Price"])
purchases_count = purchase_data["Purchase ID"].count()
revenue = np.sum(purchase_data["Price"])

In [50]:
results = {'Unique Items': [items_num], 'Average Price': [f'$ {round(price_avg, 2)}'], 
          'Number of Purchases': [purchases_count], 'Total Revenue': [f'$ {revenue}']}
results_df = pd.DataFrame(data=results)

print(f'----------------- Purchasing Analysis ------------------')
print(f'There are {items_num} unique items.')
print(f'They were purchased at an average price of $ {round(price_avg, 2)}.')
print(f'Players made {purchases_count} purchases.')
print(f'--------------------------------------------------------')
print(f'Total Revenue: $ {revenue}')
results_df

----------------- Purchasing Analysis ------------------
There are 179 unique items.
They were purchased at an average price of $ 3.05.
Players made 780 purchases.
--------------------------------------------------------
Total Revenue: $ 2379.77

   Unique Items Average Price  Number of Purchases Total Revenue
0           179        $ 3.05                  780     $ 2379.77

### Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [64]:
# maths
male_df = purchase_data.loc[purchase_data["Gender"] == "Male"]
female_df = purchase_data.loc[purchase_data["Gender"] == "Female"]
male_count = male_df["Gender"].count()
female_count = female_df["Gender"].count()

<bound method DataFrame.count of      Purchase ID             SN  Age Gender  Item ID  \
0              0        Lisim78   20   Male      108
1              1    Lisovynya38   40   Male      143
2              2     Ithergue48   24   Male       92
3              3  Chamassasya86   24   Male      100
4              4      Iskosia90   23   Male      131
..           ...            ...  ...    ...      ...
774          774     Jiskjask80   11   Male      101
776          776         Iral74   21   Male      164
777          777     Yathecal72   20   Male       67
778          778        Sisur91    7   Male      101
779          779      Ennrian78   24   Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
774                               Final Critic   4.19
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[652 rows x 7 columns]>

In [ ]:
# Print output 
print(f'----------------- Gender Demographics ------------------')
print(f'Percentage and Count of Male Playres: {male_p} ({male_count})')
print(f'They were purchased at an average price of $ {round(price_avg, 2)}.')
print(f'Players made {purchases_count} purchases.')
print(f'--------------------------------------------------------')
print(f'Net Revenue: $ {revenue}')