# Heroes of Pymoli
![Fantasy](Images/Fantasy.png)

## Import Dependencies

In [1]:
%matplotlib notebook
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count
* Total number of players

In [3]:
# slice the data to get a table of unique players only (remove transaction data)
players_df = purchase_df.loc[:, ["SN", "Age", "Gender"]]

# remove duplicate player IDs 
players_df = players_df.drop_duplicates(subset ="SN", 
                     keep = 'first', inplace = False)

num_players = players_df["SN"].count()
print(f'There are {len(unique_players)} players.')

NameError: name 'unique_players' is not defined

## Purchasing Analysis
* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [ ]:
unique_items = np.unique(purchase_data["Item ID"])
items_num = len(unique_items)
price_avg = np.average(purchase_data["Price"])
purchases_count = purchase_data["Purchase ID"].count()
revenue = np.sum(purchase_data["Price"])

In [ ]:
results = {'Unique Items': [items_num], 'Average Price': [f'$ {round(price_avg, 2)}'], 
          'Number of Purchases': [purchases_count], 'Total Revenue': [f'$ {revenue}']}
results_df = pd.DataFrame(data=results)

print(f'----------------- Purchasing Analysis ------------------')
print(f'There are {items_num} unique items.')
print(f'They were purchased at an average price of $ {round(price_avg, 2)}.')
print(f'{num_players} players made {purchases_count} purchases.')
print(f'--------------------------------------------------------')
print(f'Total Revenue: $ {revenue}')
results_df

### Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [31]:
# use data frame of unique players to create gender data
players_df.set_index("Gender")

male_df = players_df.loc[players_df["Gender"] == "Male"]
female_df = players_df.loc[players_df["Gender"] == "Female"]

male_count = male_df["Gender"].count()
female_count = female_df["Gender"].count()
other_count = num_players-female_count-male_count

# use groupby to make a cool dataframe
grouped_by_gender_df = players_df.groupby("Gender")
gender_count_df = grouped_by_gender_df.count()

# make the percentage column
gender_percentage = [f'{round(val/num_players*100, 2)} %' for val in gender_count_df["SN"]]

# assemble the final dataframe
gender_demo_df = pd.DataFrame(data={"Total Count": gender_count_df["SN"], "Percentage of Players": gender_percentage})

In [16]:
# Print output 
print(f'----------------- Gender Demographics ------------------')
print(f'Percentage and Count of Male Players: % {male_count/num_players*100} ({male_count})')
print(f'Percentage and Count of Male Players: % {female_count/num_players*100} ({female_count})')
print(f'Percentage and Count of Other Gendered Players: % {other_count/num_players*100} ({other_count})')
print(f'--------------------------------------------------------')

----------------- Gender Demographics ------------------
Percentage and Count of Male Players: % 84.02777777777779 (484)
Percentage and Count of Male Players: % 14.0625 (81)
Percentage and Count of Other Gendered Players: % 1.9097222222222223 (11)
--------------------------------------------------------

### Purchasing Analysis (Gender)

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

In [44]:
grouped_purchase_df = purchase_df.groupby("Gender")
purch_count = grouped_purchase_df["Purchase ID"].count()
avg_purchase = grouped_purchase_df["Price"].sum()/purch_count
revenue = grouped_purchase_df["Price"].sum()